@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body{
    font: 16px/18px 'Roboto', sans-serif;
}
h1{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2.2em;
    background: rgba(255, 255, 255, 0.56);
    padding: 15px 0 15px 15px;
    width: calc(100% - 15px);
    font-weight: 500;
    margin-bottom: 5px;
    color: #393939;
}

h2{
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 500;
    margin: 10px 0
}
h3{    
    margin: 15px 0;
    font-weight: 500;
    font-size: 1.2em;
}
h2,
h3,
.info-box{
    color: #757575;
}
hr{
    border:none;
    border-top: 1px solid #eee;
    margin: 15px 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.ib{
    display: inline-block;
}
.ibl{
    display: inline-block;
    float: left;
}
.ibr{
    display: inline-block;
    float: right;
}
.w-100{
    width: 100%;
}
.img-box{
    overflow: hidden;
}
.fas,
.far{
    font-size: 1.2em;  
    margin-right: 15px;
    color: #354c78;
}
.wrapper{
    padding: 10px;
    max-width: 1380px;
    margin: 0 auto;
}
.left-col{
    width: calc(33.333% - 30px);
}
.right-col{
    width: calc(66.666% - 40px);
    padding: 20px;
}
.col{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    margin: 10px 5px;
}
.info-box{      
    padding: 10px 10px 30px;
}
.info-box > p:hover i{
    color: #006767;
}
.box{
    padding-left: 15px;
    line-height: 1.6em;
}
.tab{
    margin-top: 10px;
}
.progress-out{
    border-radius: 20px;
    background: #ddd;
}
.progress-in{
    border-radius: 20px;
    padding: 5px;    
}
.status{
    border-radius: 20px;
    padding: 2px 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: calc(50% - 22px);
    text-align: center;
    font-size: .9em;
    letter-spacing: .6px;
}
.status{
    color: #fff;
}
.theor{
    background-color: #253a75;
}
.practic{
    background-color: #006767;
}
/*Global end*/
/*-----------------------Preloader start*/

.progress-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9100;
}
.progress-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #2c3f5d;
}
#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #f7f7f7;
    z-index: 9100;
}

/*---------------------------Preloader end*/
/*Left Part---------*/
.avatar{
    position: relative;
}
.avatar img{
    max-height: 450px;
}
.left-col .info-box p{
    margin: 10px 0;
    font-size: .8em;
}
/*Right part--------------*/
.right-col button{
    cursor: pointer;
}
.tabs{
    padding: 10px;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: .9em;
    background: none;
}
.tabs:hover,
.active-tabs{
    border-bottom: 2px solid #354c78;    
}
.box p:first-of-type span{
    background: #354c78;
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
}
.box:not(:first-of-type) p:first-of-type{
    color:354c78;
    font-size: 1.15em;
    margin: 5px 0 10px;
}
/*Works---------------*/
#works{
    text-align: center;
    display: none;
}
.work-box{
    width: calc(46% - 20px);
    margin: 1% 2%;
    text-align: left;
    overflow: hidden;
    padding-bottom: 20px;
    border: 2px solid #eee;
    min-height: 430px;
}
.work-box:hover{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1),0 -4px 20px 0 rgba(0,0,0,0.19);
    border-color: #006767;
}
.work-box .img-box{
    margin-bottom: 20px;
    height: 250px;
    text-align: center;
}
.work-box p{    
    padding: 0 15px;
    line-height: 1.5em;
}
.work-box p:first-of-type{
    font-size: .9em;
    font-weight: 500;
}
.work-box p:first-of-type:before{
    content: '';
    display: block;
    margin-bottom: 15px;
    border-top: 1px solid #eee;
}
.work-box p:last-of-type{
    margin: 20px 0 0;
    text-align: center;
}
.work-box p:nth-last-of-type(2){
    margin: 0 0 30px;
}
.work-box p:last-of-type a{
    background: #354c78;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 15px;
    border: 2px solid transparent;
}
.work-box p:last-of-type a:hover{
    border-color:#006767;
    color: #006767;
    background: transparent;
}
/*Works End------------*/
/*Download*/
#download{
    display: none;
    text-align: center;
    border: 2px solid #354c78;
    margin: 50px 0;
    padding: 100px 0;
}
#download p{
    line-height: 1.2em;
    letter-spacing: 1px;
    margin:20px 0;
}
#download p a{
    text-transform: uppercase;
    font-weight: 500;
    color: #354c78;
}
#download p:hover a{
    text-decoration: underline;
}
/*Download end*/
/*Footer ----------------*/
.clear{    
    clear: both;
}
footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 1.2em;
    line-height: 1.5em;
    background: #354c78;
    color: #f4f4f4;
}
footer a{
    font-size: 1.4em;
    border-radius: 50%;
    border: 2px solid transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;    
}
footer a:hover{
    border-color:#fff;
}
/*MEDIA-----------------*/
@media screen and (max-width: 699px){
    .left-col,
    .right-col{
        margin: 0 auto;
        float: none;
        display: block;
    }
    .left-col{
        width: 100%;
        margin-bottom: 10px;
    }
    .right-col{
        width: calc(100% - 40px);
    }
    .work-box{
        width: calc(100% - 20px);
        margin: 20px auto;
    }
}
@media screen and (min-width: 700px) and (max-width: 1016px){
    .left-col {
        width: calc(45% - 30px);
    }
    .right-col {
        width: calc(55% - 40px);
    }
    .work-box{
        width: calc(100% - 20px);
        margin: 20px auto;
    }
}