@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');


html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.button{
    margin: 0;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 550;
    color: #fff;
    text-align: center;    
    text-transform: uppercase;
    background-color: #f17398;
    border: 1px solid transparent;
    border-bottom: 4px solid #db577e;
}
.button:hover{
    -webkit-box-shadow: 1px 1px 10px #fff, -1px 5px 10px #555555, -1px -1px 10px #fff;
    -o-box-shadow: 1px 1px 10px #fff, -1px 5px 10px #555555, -1px -1px 10px #fff;
    -moz-box-shadow: 1px 1px 10px #fff, -1px 5px 10px #555555, -1px -1px 10px #fff;
    box-shadow: 1px 1px 10px #555555, -1px 5px 10px #555555, -1px -1px 10px #fff;
}
h2{
    color: #3e3e3e;
    font-weight: 400;
}
p{
    color: #555555
}
.clear{
    clear: both;
}
/*----------------------Header section*/
.header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(/img/bg-header.png);
    background-size: cover;    
}
.header .container{
    width: 1000px;
    margin: 0 auto;
}
.navigation{
    height: 785px;     
}
.info-container{
    background-color: rgba(255, 255, 255, 0.36);
    height: auto;
    width: 100%;
}
.info{
    text-align: right;
}
.info ul{
    font-size: 0;
    margin-right: 25px;
}
.info ul li{
    font-size: 14px;
    text-align: left;
    display: inline-block;
    margin: 35px 10px 15px;
    color: #555555;
}
.info .fa{
    color: rgba(229, 87, 191, 0.76);
    margin-right: 3px;
}
.info ul li:nth-of-type(1)::after{
    content: '2945 Rinehart road, Sunrise';
    color: #1d1d1d;
    font-size: 13px;
    font-weight: 550;
    margin-bottom: 5px;
}
.info ul li:nth-of-type(2)::after{
    content: '+44 20 7946 0041 3685';
    color: #1d1d1d;
    font-size: 13px;
    font-weight: 550;
}
.info ul li:nth-of-type(3)::after{
    content: 'info@innosphere.com';
    color: #1d1d1d;
    font-size: 13px;
    font-weight: 550;
}

.main-menu{ 
         
}
.main-menu ul{
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: #232020;
}
.main-menu ul li{
    display: inline-block;
    color: #fff;
    border-bottom: 4px solid transparent;       
}
.main-menu ul li:first-of-type{margin-left: 15px;}

.main-menu ul li:nth-last-of-type(3){
    margin-left: 35px;    
}
.menu-links{
    display: block;
    color: #fff;
    text-transform: uppercase;
    margin: 15px 10px;
    font-size: 17px;
}
.main-menu ul li:hover{
    border-bottom: 4px solid #e557bf;
    transition-duration: .7;
}

.know-more-container{
    width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 55%;
}

.know-more{
    position: relative;
    top: -50px;
    left: 150px;
    height: 170px;
    width: 460px;
    background-color: rgba(255, 255, 255, 0.76);
    padding: 0 15px;
}
.know-more a{
    width: 120px;
    position: absolute;
    bottom: -34px;
    padding: 5px;
    font-size: 14px;
    font-weight: 550;
    color: #fff;
    text-align: center;
    margin-left: -15px;
    margin-top: 2px;    
    text-transform: uppercase;
    background-color: #f17398;
    border-bottom: 4px solid #db577e;
}
.know-more h2{
    font-weight: 505
}
.know-more p{
    color: #555555;
}

/*--------------------Header section end*/

/*--------------------Search section*/
.search{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}
.search-in-container{    
    margin-left:30px;
    
}
.search-all{
    position: absolute;
    top: -90px;/*!!!search-in-container margin-top 50px*/
    height: 40px;    
    display: inline-block;    
    background-color: #232020;   
    text-align: left;
    line-height: 40px;
    padding-right: 15px;
    overflow: hidden;
}
.search-all input{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 550;
    background-color: #232020;
    border: none;
    line-height: 40px;
    color: #fff;
}
.search-all .fa{     
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #121111;
    padding: 12px;
    float: left;
    margin-right: 20px;
}

.search-in-container{
    margin-top: 50px;
    font-size: 13px;
    font-weight: 550;
    line-height: 2em;
}
.select-container,
.yes-no-container{
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}
.search-attrib{    
    width: 200px;
    height: 30px; 
    color: #555555;
    line-height: 2em;
    border: 1px solid #6c6c6c;
    background-color: skyblue;
    padding-left: 10px;
}
.yes-no-container input[type="radio"]{
    display: none;
}
.yes-no-container input[type="radio"]:checked + label{
    color: #fff;
    background-color: #555555;
}
.yes-no-container{
    font-size: 0;
    float: left;
}
.yes-no-container label{
    display: inline-block;
    width: 85px;
    height: 28px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    color: #555555;
    border: 1px solid #6c6c6c;
    background-color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-search{
    float: left;
}
.btn-search .button{
    width: 242px;
    height: 30px;
    font-size: 12px;
    margin-top: 25px;
    margin-left: -15px;
}
/*--------------------------Search section end*/

/*--------------------------Recently section starts*/
.recently {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.recently h2{
    margin-bottom: 40px;
    color: #555555;
    font-weight: 400;
}
.recently-uploaded{
    position: relative;
    width: 1000px;
    height: 430px;
    margin-bottom: 50px;
}
.img-container{
    margin: 2px;
}
.img-container img{
    margin: 0;
    border: 1px solid transparent;
}
.img-container img:hover{
    -webkit-box-shadow: 1px 2px 15px #555, -1px 2px 15px #fff, 1px -2px 15px #555, -1px 2px 15px #555;
    -moz-box-shadow: 1px 2px 15px #555, -1px 2px 15px #fff, 1px -2px 15px #555, -1px 2px 15px #555;
    -o-box-shadow: 1px 2px 15px #555, -1px 2px 15px #fff, 1px -2px 15px #555, -1px 2px 15px #555;
    box-shadow: 1px 2px 15px #555, -1px 2px 15px #fff, 1px -2px 15px #555, -1px 2px 15px #555;
    border: 1px solid #fff;
}
.img-container:nth-of-type(1),
.img-container:nth-of-type(2),
.img-container:nth-of-type(3),
.img-container:nth-of-type(4),
.img-container:nth-of-type(5),
.img-container:nth-of-type(6){
    position: absolute;    
}
.img-container:nth-of-type(1){
    top: 0;
    left: 0;
}
.img-container:nth-of-type(2){
    top: 200px;
    left: 0;    
}
.img-container:nth-of-type(2) span{
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 25%;
    width: 255px;
    text-align: left;
    padding: 15px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 1.2em;
}
.img-container:nth-of-type(2) span::after{
    content: 'by Frank Tucker';
    font-style: italic;
    font-size: .8em;
    text-transform: none;
}
.img-container:nth-of-type(3){
    top: 0;
    left: 293px;
}

.img-container:nth-of-type(4){
    top: 0;
    left: 690px;
    margin-left: 3px;
}
.img-container:nth-of-type(5){
    top: 0;
    right: 0;
}
.img-container:nth-of-type(6){
    top: 200px;
    right: 0;
}
.recently-uploaded a{
    position: absolute;
    bottom:0;
    right: 0;
    margin-top: 2px;
    margin-right: 2px;
}
/*------------------------------------Recently end*/

/*------------------------------------About start*/
.about{        
    text-align: center;
    margin-bottom: 50px;
    
}
.about h2:first-child{
    margin-bottom: 50px;
}
.about-container{
    background-image: url(/img/bg-about-stock.png);
    background-size: cover;
    height: 830px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.text-container{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 25%;
    width: 1000px;
    margin: 0 auto;    
}
.text-container h2,
.text-container p{
    color: #fff;    
}

.text-container h2{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.text-container p{
    font-size: 1.1em;
    line-height: 2em;
    font-weight: 300;
    margin-bottom: 80px;
}
.opacity {
    position: relative;    
    background-color: #000;    
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.text-container .button{
    padding: 
}
/*------------------------------------About end*/

/*------------------------------------Testimonials start*/

.testimonials{
    margin-bottom: 50px;
}
.testimonials-container{
    width: 1000px;
    margin: 0 auto;    
}
.testimonials h2{
    text-align: center;
    font-size: 2em;
}
/*---------*/
.left-testim-container{
    float: left;
    width: 49%;
    margin-right: 2%;
}
.left-testim-container>span{
    display: block;
    width: 60px;
    height: 60px;    
    border-radius: 50%;
    font-size: 60px;
    line-height: 1.4em;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    background-color: #f17398;
    float: left;    
}
/*----------*/
.right-testim-container{
    float: right;
    width: 49%;   
}
.right-testim-container>span{
    display: block;
    width: 60px;
    height: 60px;    
    border-radius: 50%;
    font-size: 60px;
    line-height: 1.4em;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    background-color: #179dff;
    float: left;
}
/*---------------*/
.t-p-container{
    margin-bottom: 10px;    
    float: right;
    width: 85%;    
}
.t-p-container p{
    float: left;
}
.t-img-container{    
    float: right;
    margin-bottom: 10px;    
    position: relative;
}
.t-img-container img{
       border-radius: 50%;
}
.t-img-container span{
    display: block;
    float: left;
    margin:42px 20px;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 700;   
}
/*-----------------------------Testimonials section end*/

/*-----------------------------Sponsors section start*/

.sponsors{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.s-img-container{
    width: 1100px;
    height: 100px;  
    margin: 0 auto;
    position: relative;
    margin-top: 50px; 
}
.s-img-container img{    
    margin-top: 20px;    
}
.s-img-container::before{
    display: block;
    content: '';
    background: url(/icons/back.png);
    width: 31px;
    height: 31px;
    position: absolute;
    top:45px;
    left: 0;
}
.s-img-container::after{
    display: block;
    content: '';
    background: url(/icons/next.png);
    width: 31px;
    height: 31px;
    position: absolute;
    top:45px;
    right: 0;
}
/*--------------------------------------Sponsors section end*/

/*--------------------------------------Team section start*/
.team{
    margin-bottom: 50px;
}
.team h2{
    text-align: center;
    margin-bottom: 50px;
}
.t-container{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.t-1-container{margin-left: 2.5%;}
.t-1-container,
.t-2-container,
.t-3-container{
    width: 30%;
    float: left;
    margin-right:2.5%;    
}
.t-1-container>div:first-of-type,
.t-2-container>div:first-of-type,
.t-3-container>div:first-of-type{
    height: 195px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-bottom: none;
}
.t-span-container span:first-of-type{
    font-size: 1.3em;
    font-weight: 800;
}
.t-span-container span:last-of-type{
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0;
}
.t-icons-container a{
    display: inline-block;
    margin-right: 10px;
}
.t-icons-container img:hover{
    -webkit-box-shadow: 1px 1px 10px #db577e, -1px 5px 10px #555555, -1px -1px 10px #db577e;
    -o-box-shadow: 1px 1px 10px #db577e, -1px 5px 10px #555555, -1px -1px 10px #db577e;
    -moz-box-shadow: 1px 1px 10px #db577e, -1px 5px 10px #555555, -1px -1px 10px #db577e;
    box-shadow: 1px 1px 10px #db577e, -1px 5px 10px #555555, -1px -1px 10px #db577e;
    border-radius: 5px;
}
/*--------------------------------------Team section end*/
/*--------------------------------------Map section start*/
.map{
    margin-bottom: 50px;
}
.map iframe{
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
}
/*--------------------------------------Map section end*/

/*--------------------------------------Feedback section start*/
.feedback{
    margin-bottom: 50px;
}
.feedback h2{
    text-align: center;
}
.feedback-container{
    width: 1000px;
    margin: 0 auto;
    
}

/*-------*/
.left-form-container input::-webkit-input-placeholder,
.left-form-container textarea::-webkit-input-placeholder{ color: #555555; }

.left-form-container input::-moz-placeholder,
.left-form-container textarea::-moz-placeholder{ color: #555555; } /* Firefox 19+ */
.left-form-container input:-moz-placeholder,
.left-form-container textarea:-moz-placeholder { color: #555555; } /* Firefox 18- */
.left-form-container input:-ms-input-placeholder,
.left-form-container textarea:-ms-input-placeholder { color: #555555; }
/*--------*/

.feedback-container .left-form-container,
.feedback-container .right-form-container{
    float: left;
    width: 49%;
}
.feedback-container .left-form-container{
    margin-right: 2%;
}
.input-f-container{
    float: left;
    width: 49%;
    color: #fff;
    margin-right: 1%;
}
.input-f-container input{
    width: 87%;
    border: 2px solid transparent;
    background-color:  rgba(240, 239, 239, 0.50);
    color: #555555;
    padding: 8px 15px;    
    font-size: 1.1em;    
    line-height: 1.2em;
    margin-bottom: 10px;
}
.textarea-f-container,
.button-f-container
{    
    float: left;    
}
.textarea-f-container{
    width: 100%;
}
.textarea-f-container textarea{
    width: 96%; 
    background-color: rgba(240, 239, 239, 0.50);
    border: 2px solid transparent;
    resize: none;
    margin-bottom: 10px;
    padding-left: 10px;
    
}
.input-f-container input:hover,
.textarea-f-container textarea:hover{
    border: 2px solid rgba(85, 85, 85, 0.24);
    transition-duration: 1;
}

.right-form-container{
    width: 80%;
}
.right-form-container h3{
    color: #555;
    font-weight: 500;
}
.right-form-container h3 i{
    color: #f17398;
    margin-right: 5px;
    font-size: 1.5em;
}
.form-contacts ul li span:first-of-type{    
    width: 30%;
    margin-right: 10px;
    float: left;
    font-weight: 600
}
.form-contacts ul li span:nth-of-type(2){    
    width: 50%;
    margin-right: 10px;
    float: left;
    color: #555555;
}
/*--------------------------------------Feedback section end*/

/*--------------------------------------Footer section start*/
.footer{
    height: 350px;
    background-color: #232020;
    padding-top: 175px;
}
.f-container{
    width: 550px;
    margin: 0 auto;    
    text-align: center;    
}
.f-icons img{
    margin-right: 10px;
    border: 1px solid transparent;
}
.f-icons img:hover{
    border: 1px solid white;
}
.f-container span{
    font-size: .8em;
    color: #fff;
}