@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700i');
/*font-family: 'Montserrat', sans-serif;*/

@font-face {
    font-family: blackjack;
    src: url("../fonts/blackjack.otf");
}

/*---------------------------common styles*/
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.btn-container{
    display: inline;
    padding: 20px 30px 20px 30px;
    border: 2px solid #fff;
    font-size: 15px;
    text-transform: uppercase;
}
.btn{color: inherit;}
.btn-container:hover{
    -webkit-box-shadow: 1px 1px 10px #b1b1b1, -1px 1px 15px #b1b1b1, 1px 0px 15px #b1b1b1;
    -moz-box-shadow: 1px 1px 10px #b1b1b1, -1px 1px 15px #b1b1b1, 1px 0px 15px #b1b1b1;
    box-shadow: 1px 1px 10px #b1b1b1, -1px 1px 15px #b1b1b1, 1px 0px 15px #b1b1b1;
    cursor: pointer;
}
.social:hover{
    -webkit-box-shadow: 1px 1px 10px #a4a4a4, -1px 1px 15px #a4a4a4, 1px 0px 15px #a4a4a4;
    -moz-box-shadow: 1px 1px 10px #a4a4a4, -1px 1px 15px #a4a4a4, 1px 0px 15px #a4a4a4;
    box-shadow: 1px 1px 10px #a4a4a4, -1px 1px 15px #a4a4a4, 1px 0px 15px #a4a4a4;
    cursor: pointer;
}
/*--------------------------content styles*/

/*--------------------------all content*/
.all-content{
    min-width: 1250px;
}
.header-section,
.about-section,
.portfolio-section,
.donate-section,
.contact-section,
.footer-section{
    width: 100%;
    position: relative;
}
/*----------------------all content end*/

/*-------------------------header-section*/
.header-section{
    height: 650px;
    background-image: url(../img/bg-nav.png);
    background-size: cover;
}
.logo-container{
    width: 100px;
    height: 100px;
    background-image: url(../img/logo.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 160px;
    border-bottom: 4px solid  #0da9e5;
    box-shadow: 15px 10px 1px #26b0e6;
}
/*-----------------не закончил с меню и ховерами*/
.navigation{
    width: 100%;
    height: 100vh;
    z-index: 900000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #e57f85;
    overflow-x: hidden;
    display: none;
}
#checkbox{
    display: none;
}

label{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 50px;
    background: url("../img/menu-button.png") center no-repeat;
    cursor: pointer;
    z-index: 999999;
}

input[type=checkbox]:checked ~ .navigation{
    display: block;
}
input[type=checkbox]:checked ~ label{
    background: url("../img/close.png ") center no-repeat;
}
.main-menu{
    margin: 15% auto 0;
    display: block;
    width: 250px;
    font-size: 20px;
}
.main-menu ul{
    text-align: left;
 }
.main-menu li{
    line-height: 80px;
    color: #fff;
    display: block;
    cursor: pointer;
}

.main-menu a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    margin-left: 10px;
    color: #4eacdd;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    margin-right: 15px;
}
/*-----------------не закончил с меню и ховерами*/
.meet-container{
    position: absolute;
    top: 100px;
    right: 160px;
    text-align: right;
    color: #fff;
}
.meet-container h1{
    font-family: blackjack;
    font-size: 70px;
}
.meet-container h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 50px;
}
.meet-container h2 span{
    font-weight: bold;
    font-style: italic;
}
.btn-container span{margin-right: 10px;}

.iphone-container{
    width: 227px;
    height: 481px;
    background-image: url(../img/iphone.png);
    background-size: cover;
    position: absolute;
    top: 380px;
    left: 230px;
}
/*----------------------header-section end*/


/*-------------------------about-section*/
.about-section{
    height: 650px;
    background-color: #f4f4f4;
    z-index: 2;
}
.about-section .text-container{
    width: 550px;
    position: absolute;
    top: 120px;
    left: 160px;
    color: #9b9b9b;
}
.about-section .text-container h2{
    color: #7c7c7c;
}
.about-section .text-container p:last-of-type{
    border-left: 6px solid #4eacdd;
    padding-left: 15px;
    margin-bottom: 70px;
    font-style: italic;
}
.about-section .btn-container{
    color: #14af8f;
    border-color: #14af8f;
}
.about-section .ipad-container{
    width: 338px;
    height: 577px;
    position: absolute;
    top: 150px;
    right: 0;
    background-image: url(../img/ipad.png);
}
/*----------------------about-section end*/


/*-------------------------portfolio-section*/
.portfolio-section{
    height: 650px;
    background-color: #fff;
    z-index: 2;
}
.portfolio-section .text-container{
    width: 550px;
    position: absolute;
    top: 120px;
    right:170px;
    color: #9b9b9b;
}
.portfolio-section .text-container h2{
    color: #7c7c7c;
}
.portfolio-section .text-container p:first-of-type{
    font-weight: bold;
    color: #696f7b;
}
.portfolio-section .text-container p:last-of-type{
    margin-bottom: 60px;
}
.portfolio-section .btn-container{
    color: #ea4c89;
    border-color: #ea4c89;
}
.devices-container{
    width: 758px;
    height: 428px;
    position: absolute;
    top: 282px;
    left: 0;
    background-image: url(../img/devices.png);
}
/*----------------------portfolio-section end*/


/*-------------------------donate-section*/
.donate-section{
    height: 325px;
    background-image: url(../img/bg-donate.png);
    background-size: cover;
    z-index: 2;
}
.donate-section .container{
    position: absolute;
    top: 100px;
    left: 0;
    right:0;
    color: #fff;
    text-align: center;
}
.container h2{
    margin-bottom: 50px;
}
.container .btn-container{
    color: #fff;
    border-color: #fff;
}
/*----------------------donate-section end*/


/*-------------------------contact-section*/
.contact-section{
    height: 650px;
    background-color: #f4f4f4;
    color: #545454;
}
.contact-section .container{
    position: absolute;
    top: 240px;
    left: 0;
    right:0;
    text-align: center;
    color: #545454;
}
.social{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 29px;
    padding: 10px;
    border: 2px solid #545454;
    border-radius: 50%;
    margin: 0 30px 60px;
}
.send-mail{
    position: relative;
    top: 350px;
    left: 0;
    right:0;
    text-align: center;
}
.send-mail strong{
    margin-right: 25px;
}
.send-mail input{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 13px;
    font-style: italic;
    line-height: 42px;
    outline: 0;
}
.mail-ico{
    position: absolute;
    top: 14px;
    right: 538px;
    color: #6ec5ea;
    border-left: 1px solid #545454;
    padding-left: 8px;
    z-index: 888;
}

/*----------------------contact-section end*/


/*-------------------------footer-section*/
.footer-section{
    height: 100px;
    text-align: center;
    margin-top: 80px;
}
.footer-section a{
    color: #6dc5ea;
    cursor: pointer;
}
/*----------------------footer-section end*/


/*--------------------------content styles end*/